{% extends 'registration/base.html' %} 
{% block title %}  Forgot Password {% endblock %}

{% block body %} 
            <!---- 
                You can style the page to your taste. I decided to play around with  bootstrap styling instead of using the django
                custom styling i used in the previous forms. You can go to the forms.py of this app and create a class for
                styling this page or any other.
                
                Also, please know that the forgot password won't work unti you configure the smtp in the project setting.
                I will write the code for this, you can fill in your email and password. It will work fine afterwards.

                To get the password, if you are using the gmail smtp, go to setting of your google account
                Activate the 2 step verification
                create an app password
                it is this generated password that will be filled in the settings.py of this project.
                
                Adewale            
            -->       
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <div id="error_div"></div>
                      <h3 class="font-weight-light my-4 text-center">Forgot Password?</h3>
                      <div>
                        <p>
                            We'll email you instructions for your password reset <br>
                            If an account exists with the email you entered. You should receive them shortly. <br> <br>
                            If you don't receive an email,
                            Please make sure you've entered the email address you registered with us, and check your spam folder
                        </p>
                      </div>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                <div class="form-group">
                                  <label class="small mb-1" for="id_email">Email</label>
                                    <input type="email" name="email"  class="form-control"
                                           autocomplete="email" maxlength="254" required id="id_email"
                                           placeholder="Enter email">
                                </div>
                            </div>
                        </div>
                            <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                                <div class="form-group mt-0 mb-1"> <br>
                                    <button type="submit" class="col-md-12 btn btn-dark">Submit
                                    </button>
                                </div>
                             </div>
                           </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a href="{% url 'account:register' %}">Create A New Account</a><br><br>
                            <a href="{% url 'login' %}">Back To Login</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
