{% extends 'users/base.html' %} 
{% block title %} CHANGE PASSWORD {% endblock %}

{% block body %} 
    <h1> CHANGE PASSWORD </h1><br> <br>

    <div class="form-group"> 
        <form method="POST">
            {% csrf_token %} 
            {{form.as_p}}   
         <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>              
         <br><br>
            <button class="btn btn-primary">Update Password</button>
        </form>  
         
    </div> <br><br><br>
{% endblock %}